@model CCM.Models.DataModels.RPMService
@using CCM.Models.DataModels;

@{
    ViewBag.Title = "AddService";
}


<style>
    #BillingCategoryModal {
        overflow: auto;
    }

    .mt-4 {
        margin-top: 15px;
    }

    .savebtnsforBillingCategory {
        float: right;
        margin-right: 60px;
        margin-top: 10px;
    }

    .field-validation-error {
        margin-left: -229px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<link href="~/Content/CustomStyle.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <button type="button" data-toggle="modal" data-target="#BillingCategoryModal" id="ButonOpen" class="createAdminResolutin btn btn-success"><span class="fas fa-fw fa-floppy-o"></span> Create New Service</button>
    </div>
</div>
<div class="mt-4" id="BillingCategoryPage">
    <table class="table" style=" width: 700px; margin-left: 15px;">
        <thead>
            <tr>
                <th scope="col">Service Name</th>
                <th scope="col">Is Active</th>
                <th>Action</th>
            </tr>
        </thead>
        @{ try
            {
        <tbody>
            @foreach (var item in ViewBag.devicetypes as List<RPMService>)
            {
                var ClasstoAppend = item.IsActive == 1 ? "isActive" : "isNotActive";
                <tr class="@ClasstoAppend">
                    <td>@item.ServiceName</td>

                    <td>
                        @if (@item.IsActive == 1)
                        {
                            @Html.Raw("Active")
                        }
                        else
                        {
                            @Html.Raw(" Deactive Active")
                        }
                    </td>
                    <td data-id="@item.Id">
                        <span style="font-size: 16px;cursor:pointer" value="@item.ServiceName" onclick="EditCategory('@item.ServiceName','@item.Id','@item.IsActive','@item.ReasonForDeactivate')" id="EditResolution" class=" fa fa-edit text-primary"></span> @*|*@

                    </td>

                </tr>
            }

        </tbody>
            }
            catch (Exception ex) { }
        }


    </table>
</div>
<div id="modal-container">
    <div class="modal-background">
        <div class="modal fade" id="BillingCategoryModal" role="dialog" data-backdrop="static" data-keyboard="false" style="position:absolute">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Service Form</h4>
                        <button type="button" class="close close-custom-button" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form id="DiviceTypeForm">
                                @Html.HiddenFor(x => x.Id, new { @id = "HiddenId" })
                                <div class="form-group">
                                    @Html.Label("Service Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(x => x.ServiceName, new { htmlAttributes = new { @id = "ServiceName", @required = "required", @placeholder = "Device Type Name", @class = "form-control" } })
                                        @Html.ValidationMessageFor(x => x.ServiceName, "", new { @class = "text-danger", @id = "subjectvalidation" })
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Label("Is Active", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.IsActive, new SelectList(ViewBag.IsAvtiveStatus, "Value", "Text"),"--Select--", new { @class = "IsActive form-control", @id = "IsActive" })

                                    </div>
                                </div>

                                <div class="row" id="DeactivateResonRow">
                                    @Html.Label("Reason For Deactivate", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(x => x.ReasonForDeactivate, new { htmlAttributes = new { @id = "ReasonForDeactivate", @placeholder = "Reason For Deactivate", @class = "form-control" } })
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="savebtnsforBillingCategory">
                                    <button style="margin-left: 5px;" id="SaveServiebtn" type="button" class="btn">Save</button>
                                    <button type="button" class=" btn btn-default close-custom-button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="check" value="0" />
<script>

    $(document).ready(function () {
        $("#DeactivateResonRow").hide();

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }

        });

        $("#ServiceName").keyup(function () {
            if ($("#ServiceName").val().trim() != '' && $("#IsActive :selected").val() != '') {

                $("#SaveServiebtn").attr("disabled", false);
            } else {
                $("#SaveServiebtn").attr("disabled", true);
            }
            if ($("#IsActive :selected").val() == "0") {
                if ($("#ReasonForDeactivate").val().trim() != '' && $("#ServiceName").val().trim() != '') {

                    $("#SaveServiebtn").attr("disabled", false);
                } else {
                    $("#SaveServiebtn").attr("disabled", true);

                }
            }
        })


        $("#ReasonForDeactivate").keyup(function () {
            if ($("#ReasonForDeactivate").val().trim() != '' && $("#ServiceName").val().trim() != '') {

                $("#SaveServiebtn").attr("disabled", false);
            } else {
                $("#SaveServiebtn").attr("disabled", true);

            }
        })

        $("#IsActive").change(function () {
            var value = $("#IsActive :selected").val();
            if (value != '' && $("#ServiceName").val().trim() != '') {
                $("#SaveServiebtn").attr("disabled", false);
            } else {
                $("#SaveServiebtn").attr("disabled", true);
            }
            if (value =='0') {
                $("#DeactivateResonRow").show();
                if ($("#ReasonForDeactivate").val().trim() != '') {
                    $("#SaveServiebtn").attr("disabled", false);
                } else {
                    $("#SaveServiebtn").attr("disabled", true);
                }
            } else {
                $("#DeactivateResonRow").hide();
            }

        })
    });
    $('#ButonOpen').click(function () {
        $('#modal-container').removeAttr('class').addClass("ButonOpen");
        $('body').addClass('modal-active');
        $("#HiddenId").val('0');
        $("#ServiceName").val('');
        $("#IsActive").val('');
        $("#ReasonForDeactivate").val('');
        $("#check").val("0");
        $("#SaveServiebtn").attr("disabled", true);
        $("#ServiceName").attr("readonly", false);
    });
    $('.close-custom-button').click(function () {

        $('#modal-container').addClass('out');
        $('body').removeClass('modal-active');
    });
    function EditCategory(value, id,status, ReasonForDeactivate ) {
        $(".createAdminResolutin").click();
        $("#ServiceName").val(value);
        $("#HiddenId").val(id);
        $("#IsActive").val(status);
        $("#ReasonForDeactivate").val(ReasonForDeactivate);
        $("#ServiceName").attr("readonly", true);
        if (ReasonForDeactivate != "") {
            $("#DeactivateResonRow").show();
        } else {
            $("#DeactivateResonRow").hide();
        }
        //  $("#ServiceName").attr("disabled", true)
        $("#SaveServiebtn").attr("disabled", false);
        $("#check").val("edit");

    }
    function AddOrEdit(valdata) {
        $.ajax({
            type: "POST",
            data: valdata,
            url: "/RpmService/AddService",
            success: function (result) {
                if (result == "added") {
                    $("#ServiceName").val('');
                    $("#ReasonForDeactivate").val("");
                    swal({
                        title: "Saved",
                        text: "Saved Successfully",
                        icon: "success",
                        button: "Ok",
                        confirmButtonColor: "#1ab394",
                    });
                    $('.close-custom-button').click();
                    $("#BillingCategoryPage").load(window.location + " #BillingCategoryPage");
                }
                else if (result == "updated") {
                    $("#ServiceName").val('');
                    $("#ReasonForDeactivate").val("");
                    swal({
                        title: "Update",
                        text: "Updated Successfully",
                        icon: "success",
                        button: "Ok",
                        confirmButtonColor: "#1ab394",
                    });
                    $('.close-custom-button').click();
                    $("#BillingCategoryPage").load(window.location + " #BillingCategoryPage");
                }
                else if (result == "exists") {
                    var s = $("#ServiceName").val();
                    swal("Warning!", s + " Already exists as a Billing Category", "warning");
                }
                else {
                    $('.close-custom-button').click();
                    swal("Error!", "Error Accured", "error");

                }
            }
        });
    }
    $("#SaveServiebtn").on("click", function () {
        if ($("#ServiceName").val().trim() != "") {
            var valdata = $("#DiviceTypeForm").serialize();
            AddOrEdit(valdata);
        }

    });

</script>


