@model CCM.Models.PhysicianGroup_SalesStaff_Mapping
    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" />



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PhysicianGroup and Enroller Mapping :: Edit</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label">Enroller</label>
                    @*<select class="form-control"></select>*@
                    @Html.DropDownList("ClinicID", new SelectList(ViewBag.SalesStaffId as List<CCM.Models.SaleStaff>, "Id", "FirstName"), new { @class = "form-control selectpicker border-input", role = "menu", @autofocus = "true" })
                   
                </div>
                <div id="FetchPhysicians" class="clearfix">
                    <div class="col-sm-12"><label class="control-label">Physician groups</label></div>

                    <div id="SelectedCodeListControl" class="col-sm-6" style="text-align:left;padding-top:10px;">
                        <input type="text" id="searchInput" placeholder="Search for names.." class="form-control border-input">
                        <table class="table table-responsive" id="table">
                            <thead>
                                <tr>
                                    <th style="display:none"></th>
                                    <th width="50px"><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>

                                    <th><label class="control-label">Name</label></th>
                                    @*<th><label class="control-label">Last Name</label></th>*@
                                    <th><label class="control-label">Email</label></th>
                                </tr>
                            </thead>
                            <tbody id="PhysiciansSelectedTable">
                                @{ 
                                    var physicians = ViewBag.PhysiciansGroupId as List<CCM.Models.PhysiciansGroup>;
                                    var physiciansmapped = ViewBag.physiciansgroupmapped as List<CCM.Models.PhysiciansGroup>;}
                                @foreach (var item in physicians)
                                {
                                    <tr class="row-select">
                                        <td class="id" hidden>@item.Id</td>
                                        @{
                                            var mappedphysician = physiciansmapped.Where(x => x.Id == item.Id).FirstOrDefault();
                                            if (mappedphysician != null)
                                            {
                                                <td class="check"><label class="custom-checkbox"><input type="checkbox" checked="checked" class="checkboxselect" /><span></span></label></td>
                                            }
                                            else
                                            {
                                                <td class="check"><label class="custom-checkbox"><input type="checkbox" class="checkboxselect" /><span></span></label></td>
                                            }
                                        }

                                        <td>@item.GroupName</td>
                                        <td>@item.Email</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <a href="@Url.Action("Index", "PhysicianGroupPhysicianMapping")" id="back-to-list" class="btn btn-default">Back to List</a>

                    <input type="button" value="Update" id="btnSubmit" class="btn btn-default" />
                </div>
            </div>








        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
   
    <script type="text/javascript">
        $('#example-select-all').on('click', function () {
            // Check/uncheck all checkboxes in the table

            var ischecked = this.checked;
            // Check/uncheck all checkboxes in the table
            $('.checkboxselect').each(function () {

                var display = $(this).closest('tr').css("display");
                if (display != "none") {
                    $(this).prop('checked', ischecked);
                }
            });
            //$('.checkboxselect').prop('checked', this.checked);
        });
        $("#searchInput").on("keyup", function () {
            debugger;
            var value = $(this).val();
            $("table tr").each(function (index) {
                if (index !== 0) {
                    var $row = $(this);
                    //Filter down tds that match indexOf check
                    var matches = $row.find('td').filter(function (ix, item) {
                        return $(item).text().toUpperCase().indexOf(value.toUpperCase()) > -1;
                    });

                    //if matches exist then show else hide
                    if (matches.length != 0) {
                        $row.show();
                    }
                    else {
                        $row.hide();
                    }
                }
            });
        })
        $(document).ready(function () {
            //$('#table').DataTable({
            //    pageLength: 25,
            //    scrollY: "50vh",
            //    order: [[2, "desc"]]
            //});
            var Doctors = []
            $('#btnSubmit').click(function () {

                $('.row-select input:checked').each(function () {
                    var id, name;
                    id = $(this).closest('tr').find('.id').html();
                    Doctors.push(id);
                })
                $.ajax({
                    type: "POST",
                    url: '/PhysicianGroupEnroller/SaveSaleStaffMapping',
                    data: {
                        "SalesStaffIDs": $("#ClinicID").val(), 'PhyGrpID': Doctors
                    },
                    success: function (data) {
                        location.href = '/PhysicianGroupEnroller/Index'
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            });
        });
    </script>