@model IEnumerable<CCM.Models.Patient>

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />


@Html.Partial("_EnrollmentStatusLinks")

<table id="table" class="display">
    <thead>
        <tr>
            <th>Assign To</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Physician</th>
            <th>Preferrred Language</th>
            <th>Enrollment Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var trId = "tr" + item.Id;
            <tr id="@trId">
                <td>
                    @Html.DropDownListFor(liaison => item.LiaisonId,
                    new SelectList(ViewBag.Liaisons, "Value", "Text", Model),
                    "Assign Counselor", new { @class = "form-control border-input ddlLiaisons", id = item?.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @{
                        var age       = (int.Parse(DateTime.Today.ToString("yyyyMMdd")) - int.Parse(item.BirthDate.ToString("yyyyMMdd"))) / 10000;
                        var ageStatus = item.EnrollmentStatus == "Deceased" ? "Deceased" : age + " Years";
                        var color     = ageStatus == "Deceased" ? "text-danger" : "";
                    }
                    @item.BirthDate.ToShortDateString() <span class="@color">(@ageStatus)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Physician.FirstName)
                    @Html.DisplayFor(modelItem => item.Physician.LastName)
                </td>
                <td>
                    @{ var language = item.OtherLanguage ?? item.PreferredLanguage; }
                    @language
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentStatus)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Patient", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Delete", "Delete", "Patient", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js" type="text/javascript"></script>

    @* DataTable *@
    <script>
        $(document).ready(function() {
            $('#table').DataTable({
                pageLength: 100,
                "scrollY": "58vh",
                "order": [[2, "asc"]],

                dom: 'Bfrtip',
                buttons: ['print', 'excelHtml5', 'pdfHtml5']
            });
        });
    </script>

    @* Ajax Call - Assign *@
    <script>
        $(document).ready(function() {
            $(".ddlLiaisons").change(function () {
                $.ajax({
                    url: "/EnrollmentStatus/AssignLiaison",
                    type: "POST",
                    data: JSON.stringify({ 'patientId': $(this).attr('id'), 'liaisonId': $(this).val() }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        if (result.Action === "Assigned") {
                            alert("Patient " + result.PatientName + " is Assigned to Liaison " + result.LiaisonName);
                            $("#tr" + result.PatientId).fadeOut();
                        }
                    },
                    error: function(result) {
                        alert("Error Occured: Please Try Again.");
                        if (result.Action === "Error")
                            $('#' + result.PatientId).val(result.LiaisonId);
                        else location.reload();
                    }
                });
            });
        });
    </script>
}