@model CCM.Models.FinalCarePlanNotes
@using CCM.Helpers
@using Microsoft.AspNet.Identity



@{
    var cycle =0;
    var status = "";
    if (Model.PatientId != 0)
    {

        cycle = CategoryCycleStatusHelper.GetPatientNewOrOldCycleByCategory(Model.PatientId, BillingCodeHelper.cmmBillingCatagoryid);
        status= CategoryCycleStatusHelper.GetPatientNewOrOldCycleStatusbyCategory(Model.PatientId, BillingCodeHelper.cmmBillingCatagoryid,null);

    }
}
<style>
    .emptydiv {
        padding: 16.5px;
    }
</style>
@if (Model.Id > 0)
{
    <fieldset disabled=" @(cycle != Model.Cycle ? "disabled":cycle==Model.Cycle?(status=="Claims Submission"||status=="Clinical Sign-Off")?"disabled":null:null)" style="display: contents;">
        <div class="form-horizontal col-md-6">
            @try
            {
                var monthname = Model.CarePlanCreatedOn.Value.Date.ToString("MMM") + " " + Model.CarePlanCreatedOn.Value.Date.ToString("yy");
                <h3>Old Care Plan ( @monthname )</h3>
            }
            catch (Exception ex)
            {

                <h3>Old Care Plan ()</h3>
            }



            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Patient Summary</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PatientSummary, new { @class = "form-control border-input", rows = "10", })
                            @Html.ValidationMessageFor(model => model.PatientSummary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Medical History</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.HealthConcerns, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="emptydiv"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Drug Utilization Review</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.DrugUtillizationReview, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">



                        <label class="col-md-12">Current Blood Pressure and Glucose Reading</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.BloodPressureGlucoseReading, new { htmlAttributes = new { @class = "form-control border-input", } })
                        </div>

                        <br>
                        <label class="col-md-12">Diabetic screening: Retinal Eye Exam, Podiatry Exam and last A1C result </label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.DiabeticScreening, new { htmlAttributes = new { @class = "form-control border-input", } })
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="emptydiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Critical Medical Complaints:</label>
                        <div class="col-md-12">

                            &nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalChestPain, true) @Html.LabelFor(model => model.CriticalChestPain, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalBreathShortness, true) @Html.LabelFor(model => model.CriticalBreathShortness, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.NewWound, true) @Html.LabelFor(model => model.NewWound, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.Bleedinggums, true) @Html.LabelFor(model => model.Bleedinggums, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.Nosebleed, true) @Html.LabelFor(model => model.Nosebleed, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.Bloodinurine, true) @Html.LabelFor(model => model.Bloodinurine, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.Isurinemalodorous, true) @Html.LabelFor(model => model.Isurinemalodorous, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.Suddenincreasedswelling, true) @Html.LabelFor(model => model.Suddenincreasedswelling, new { @style = "font-weight: normal" })



                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalSeverePain, true) @Html.LabelFor(model => model.CriticalSeverePain, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalMoodChange, true) @Html.LabelFor(model => model.CriticalMoodChange, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalSpeechChange, true) @Html.LabelFor(model => model.CriticalSpeechChange, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalHeadache, true) @Html.LabelFor(model => model.CriticalHeadache, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalBloodSugar, true) @Html.LabelFor(model => model.CriticalBloodSugar, new { @style = "font-weight: normal" })
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.CriticalBloodPressure, true) @Html.LabelFor(model => model.CriticalBloodPressure, new { @style = "font-weight: normal" })

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12"><br>Skin assessment: Do you check 2-3 times a week?</label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(
                            item => item.SkinAssesment,
                            new SelectList(
                                new[]
                                {
                                    new {Value = "Yes", Text = "Yes"},
                                    new {Value = "No", Text = "No"}

                                }, "Value", "Text", Model),
                            "Skin assessment", new { @class = "form-control border-input" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12"><br>Diaper change: Do you change it every 2 hours?</label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(
                            item => item.Diaperchange,
                            new SelectList(
                                new[]
                                {
                                    new {Value = "Yes", Text = "Yes"},
                                    new {Value = "No", Text = "No"}

                                }, "Value", "Text", Model),
                            "Diaperchange", new { @class = "form-control border-input" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12"><br>DME supply</label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(
                            item => item.DMEsupply,
                            new SelectList(
                                new[]
                                {
                                    new {Value = "Wedge pillow", Text = "Wedge pillow"},
                                    new {Value = "Gel mattress", Text = "Gel mattress"},
                                    new {Value = "Bootie/heel protector", Text = "Bootie/heel protector"},
                                    new {Value = "O2 saturation monitor", Text = "O2 saturation monitor"},
                                    new {Value = "Glucometer", Text = "Glucometer"}


                                }, "Value", "Text", Model),
                             new { @class = "form-control border-input" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12"><br>Is the patient bed bound?</label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(
                            item => item.isPatientBedbound,
                            new SelectList(
                                new[]
                                {
                                    new {Value = "Yes", Text = "Yes"},
                                    new {Value = "No", Text = "No"}

                                }, "Value", "Text", Model),
                            "Patient Bed Bound", new { @class = "form-control border-input" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Ability to perform IADL and ADL</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AbilityPerformIADL, new { htmlAttributes = new { @class = "form-control border-input", } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Sensory assessment on vision, hearing and speech</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AssessmentVisionHearingSpeech, new { htmlAttributes = new { @class = "form-control border-input", } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Fall and Ambulation Assessment</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.FallAmbulationAssessment, new { htmlAttributes = new { @class = "form-control border-input", } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="emptydiv"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12"><br>How Would You Describe Your Health?</label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(
                            item => item.HealthRating,
                            new SelectList(
                                new[]
                                {
                                    new {Value = "1", Text = "1 - Worst"},
                                    new {Value = "2", Text = "2"},
                                    new {Value = "3", Text = "3"},
                                    new {Value = "4", Text = "4"},
                                    new {Value = "5", Text = "5"},
                                    new {Value = "6", Text = "6"},
                                    new {Value = "7", Text = "7"},
                                    new {Value = "8", Text = "8"},
                                    new {Value = "9", Text = "9"},
                                    new {Value = "10", Text = "10 - Best"}
                                }, "Value", "Text", Model),
                            "Quality of Life at the Moment", new { @class = "form-control border-input" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Able to Accomplish Your Daily Chores, Tasks and Responsibilities?</label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(
                            item => item.PerformTasksRating,
                            new SelectList(
                                new[]
                                {
                                    new {Value = "1", Text = "1 - Worst"},
                                    new {Value = "2", Text = "2"},
                                    new {Value = "3", Text = "3"},
                                    new {Value = "4", Text = "4"},
                                    new {Value = "5", Text = "5"},
                                    new {Value = "6", Text = "6"},
                                    new {Value = "7", Text = "7"},
                                    new {Value = "8", Text = "8"},
                                    new {Value = "9", Text = "9"},
                                    new {Value = "10", Text = "10 - Best"}
                                }, "Value", "Text", Model),
                            "Quality of Life at the Moment", new { @class = "form-control border-input",  })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12"><br>Hospitalization in Last 30 Days</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.HospitalizationLast30Days, new { htmlAttributes = new { @class = "form-control border-input", } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Colon Cancer Screen: Date</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ColonCancerScreenDate, new { htmlAttributes = new { @class = "form-control border-input", id = "PreColonCancerScreenDate" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Mammogram Screen: Date</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MammogramScreenDate, new { htmlAttributes = new { @class = "form-control border-input", id = "PreMammogramScreenDate" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Urinary Incontinence</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.UrinaryIncontinence, new { htmlAttributes = new { @class = "form-control border-input", } })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Immunization</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Immunization, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Tobacco and Alcohol Screening</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.TobaccoAlcoholScreening, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Allergies/Side Effects To Medication</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Allergies, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Medication Management Intervention</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.ManagingMedicationInterventions, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Managing Medication Monitoring</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.ManagingMedicationReview, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Medication Management Goals</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.ManagingMedicationGoals, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Mental Resilience Interventions</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.MentalResilienceInterventions, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Mental Resilience Monitoring</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.MentalResilienceReview, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Mental Resilience Goals</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.MentalResilienceGoals, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Nutrition Interventions</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.NutritionInterventions, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Nutrition Monitoring</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.NutritionReview, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Nutrition Goals</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.NutritionGoals, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">

                        <label class="col-md-12">Physical Activity Interventions</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PhysicalActivityInterventions, new { @class = "form-control border-input", rows = "10", })
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Physical Activity Monitoring</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PhysicalActivityReview, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">

                        <label class="col-md-12">Physical Activity Goals</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PhysicalActivityGoals, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Sleep Interventions</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.SleepInterventions, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Sleep Monitoring</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.SleepReview, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Sleep Goals</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.SleepGoals, new { @class = "form-control border-input", rows = "10", })
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="emptydiv"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Patient Compliance Management</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PatientComplianceManagement, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">Pharmacy Treatment Goals</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PharmacyTreatmentGoals, new { @class = "form-control border-input", rows = "10", })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">

                    </div>
                </div>
            </div>






        </div>

    </fieldset>
}

