@model IEnumerable<CCM.Models.Icd10Codes>

@Html.Action("_CcmActivityLinks", "CcmStatus", new { patientId = ViewBag.patientId })
<br />
<br />
<br />
@*<p>
        @Html.ActionLink("Details", "Details", "Patient", new { id = ViewBag.patientId }, new { @class = "btn btn-warning" })
    </p>
    <br />*@


<p>
    @Html.ActionLink("Create New", "Create", new { patientId = ViewBag.patientId }, new { @class = "btn btn-success logdetails" })
</p>
<br />
<br />
<table class="table">
    <tr>
        <th>
            Diagnosis
        </th>
        <th>
            ICD-9 Codes
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code9)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id,patientId = item.PatientId }, new { @class = "logdetails" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, patientId = item.PatientId }, new { @class = "logdetails" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, patientId = item.PatientId }, new { @class = "logdetails" })
            </td>
        </tr>
    }

</table>
@if (User.IsInRole("Liaison"))
{
    <SCRIPT type="text/javascript">
          

            function reviewTimePost() {
                $.ajax({
                    url: "/PatientProfile/ReviewTimePost?reviewId=@ViewBag.ReviewId&activity=" + $("#activityperformed").val(),
                    type: "POST",
                    async: true,
                    success: function () {



                    },
                    error: function (error) {
                        Showerrormsg1(error.statusText);
                    }
                });
            }
    </SCRIPT>
}