@model CCM.Models.SurveyQuestionViewmodel
<input type="hidden" id="sequencemappings" value="@Html.Raw(Json.Encode(Model.surveyQuestionSequenceMappings))" />
    <style>
        .surveyquestionswrapper {
            padding:0;
            float: left;
            width: 100%;
            box-shadow: 0 2px 13px rgb(7, 22, 74);
           
            background-color: #fff;
            border: 1px solid #0a1b2b;
         
            border-radius: 0px;
            margin-top: 15px;
        }
        .surveyquestion {
            background-color: #0364bd;
            border-bottom: 0px solid #d3d7dc;
            box-shadow: 0 2px 6px 0px #02498a;
            padding: 10px 15px;
            color: white;
            -webkit-box-shadow: 0px 10px 14px -7px #0363bd;
            box-shadow: 0px 4px 13px -6px #0363bd;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1179db), color-stop(1, #0a2f52));
            background: -moz-linear-gradient(top, #1179db 5%, #0a2f52 100%);
            background: -webkit-linear-gradient(top, #1179db 5%, #0a2f52 100%);
            background: -o-linear-gradient(top, #1179db 5%, #0a2f52 100%);
            background: -ms-linear-gradient(top, #1179db 5%, #0a2f52 100%);
            background: linear-gradient(to bottom, #1179db 5%, #0957a0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1179db', endColorstr='#0a2f52',GradientType=0);
            background-color: #1179db;
        }
        .surveyanswers{
            padding:15px;
        }
        .questions {
            font-size: 19px;
            margin-bottom: 0px;
        }
        .anslabel {
            display: block;
            padding-left: 15px;
            text-indent: -15px;
            font-size: 16px;
        }
        .anslabelradio {
            font-size: 16px;
        }
        .surveyquestionanswer{
          display:none;
        }
        .chkanswers {
            width: 21px;
            height: 21px;
            padding: 0;
            margin: 0;
            vertical-align: bottom;
            position: relative;
            top: -1px;
            *overflow: hidden;
        }
        .radioanswers{
            margin:0 !important;
        }
        .nextandpreviousbuttons {
            padding: 0px 10px 10px 10px;
        }
        .btnques {
            padding: 8px 8px;
            margin-right: 6px;
            width: 110px;
            font-size: 17px;
            /*-moz-box-shadow: 0px 10px 14px -7px #276873;
            -webkit-box-shadow: 0px 10px 14px -7px #276873;
            box-shadow: 0px 10px 14px -7px #276873;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
            background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
            background-color: #599bb3;*/
        }
        .answertxt {
            font-size: 17px;
            font-weight: bold;
            color: black;
            letter-spacing: 1px;
            border: 3px solid;
            border-radius: 4px;
            box-shadow: 0px 4px 13px -6px #0363bd;
        }
        .msgprogress {
            text-align: center;
            color: red;
            margin-bottom: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.css">
    <div class="col-md-12 surveyquestionswrapper">
        @{ int i = 0;}
        @foreach (var question in Model.surveyQuestions)
        {
            <div class="surveyquestionanswer" id="surveyquestion@(question.Id)" data-questype="@question.SurveyQuestionType.QuestionType" data-id="@question.Id">
                <div class="surveyquestion">
                    <label id="question@(question.Id)" class="control-label questions" name="questions">@question.QuestionText</label>
                </div>
                <div class="surveyanswers">
                    <label class="answerdefaulttext">Answer(s):</label><br />
                    @if (question.SurveyQuestionType.QuestionType == "Checkbox")
                    {
                        foreach (var answer in question.surveyAnswers)
                        {
                            <div class="surveyanswer">
                                <label class="anslabel"><input type="checkbox" id="answer@(answer.Id)" value="@answer.Id" class="answers chkanswers" data-questionid="@question.Id" data-note="@answer.ClinicalNotes" onchange="assignnotestoanswertxt(@question.Id,@answer.Id)" /> @answer.AnswerText</label>
                            </div>
                        }
                        <div class="surveyanswer">
                            <textarea rows="5" id="Qanswer@(question.Id)" name="question@(question.Id)" class="answertxt form-control border-input" data-questionid="@question.Id" placeholder="Additional Comments">

</textarea>
                            @*<input type="text" id="Qanswer@(question.Id)" name="question@(question.Id)" class="answertxt form-control border-input" data-questionid="@question.Id" placeholder="Additional Comments" />*@
                        </div>
                    }
                    else if (question.SurveyQuestionType.QuestionType == "Radio")
                    {
                        foreach (var answer in question.surveyAnswers)
                        {
                            <div class="surveyanswer">
                                <label class="anslabelradio"><input type="radio" id="answer@(answer.Id)" value="@answer.Id" name="questionnumber@(question.Id)" class="radioanswers" data-questionid="@question.Id" data-note="@answer.ClinicalNotes" onchange="assignnotestoanswertxt(@question.Id,@answer.Id)" />@answer.AnswerText</label>
                            </div>

                        }
                        <div class="surveyanswer">
                            <input type="text" id="Qanswer@(question.Id)" name="question@(question.Id)" class="answertxt form-control border-input" data-questionid="@question.Id" placeholder="Additional Comments" />
                        </div>
                    }
                    else if (question.SurveyQuestionType.QuestionType == "Dropdown")
                    {
                        <div class="surveyanswer">
                            <select id="ddlquestion@(question.Id)">


                                @foreach (var answer in question.surveyAnswers)
                                {

                                    <option id="answer@(answer.Id)" value="@answer.Id" data-questionid="@question.Id">@answer.AnswerText</option>

                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        foreach (var answer in question.surveyAnswers)
                        { <div class="surveyanswer">

                                <input type="text" id="Qanswer@(question.Id)" name="question@(question.Id)" class="answertxt form-control border-input" data-questionid="@question.Id" value="" data-clinicalnotes="@answer.ClinicalNotes" data-isanswered="false" />
                            </div>

                        }

                    }
                </div>

                <div class="nextandpreviousbuttons">

                    @if (i > 0)
                    {
                        <input type="button" id="previousbtn@(question.Id)" value="Previous" class="btn btn-danger btnques" onclick="loadpreviousquestion()" />
                    }

                    @*<input type="button" id="skipbtn@(question.Id)" value="Skip" class="btn btn-danger btnques" onclick="SkipQuestion(@question.Id)" />*@
                    <input type="button" id="nextbtn@(question.Id)" value="Next" class="btn btn-success btnques " onclick="laodnextquestion(@question.Id)" />

                    <input type="button" id="submitbtn" value="Submit" class="btn btn-primary btnques" onclick="Submit()" />
                </div>
            </div>

            i += 1;
        }
        <input type="hidden" id="totalQ" value="@ViewBag.TotalQ" />
        <input type="hidden" id="txtLastQ" value="@ViewBag.LastQuestionID" />
        <input type="hidden" id="txtSurveyCompleted" />
        <input type="hidden" id="txtPercent" />
        @if (i > 0)
        { 
            <div class="col-sm-6 pull-right" style="margin-top:-40px;">
                <div class="progress-outer">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width:0%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                        <div class="progress-value" style="font-size: 16px;font-weight: bold;">0%</div>
                    
                    </div>
                    <div class="msgprogress">Progress bar may effect on the base of your selected answer</div>
                </div>
            </div>
            }
            @*<div id="btnSubmit">
                <input type="button" value="Previous" id="btnprevious" class="btn btn-success btnques" onclick="loadpreviousquestion()" />
                <input type="button" id="submitbtn" value="Submit" class="btn btn-success btnques " onclick="Submit()" />
            </div>*@
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.js"></script>
<script type="text/javascript">
   
    $(document).ready(function () {
        //$("#btnSubmit").hide();
        debugger;
        sequencemappings =@Html.Raw(Json.Encode(Model.surveyQuestionSequenceMappings));
        $(".surveyquestionanswer").first().fadeIn(1000);
        var nextquestionid = $(".surveyquestionanswer").first().attr("data-id");
        var nextquesttype = $("#surveyquestion" + nextquestionid).attr("data-questype");
        if (nextquesttype == "TextBox") {
            $("#Qanswer" + nextquestionid).val($("#Qanswer" + nextquestionid).attr("data-clinicalnotes"));
        }
        //backquestionid.push(nextquestionid);
        //GetPercentage(false);

    
    });
    function assignnotestoanswertxt(qid, aid) {
        debugger;
        if ($("#surveyquestion" + qid).attr("data-questype") == "Radio") {
            if ($("#answer" + aid).prop("checked")) {
                var clincicalnote = $("#answer" + aid).attr("data-note");
                $("#Qanswer" + qid).val(replaceheshewithgender(clincicalnote));
            }
        }
        else {
            if ($("#surveyquestion" + qid).attr("data-questype") == "Checkbox") {
                var clincicalnote = $("#answer" + aid).attr("data-note");
                clincicalnote = replaceheshewithgender(clincicalnote);
                if ($("#answer" + aid).prop("checked")) {
                    var alreadyval = $("#Qanswer" + qid).val();

                    if (alreadyval.trim() == "") {
                        $("#Qanswer" + qid).val( clincicalnote);
                    }
                    else {
                        $("#Qanswer" + qid).val(alreadyval + "\n" + clincicalnote);
                    }
                   
                }
                else {
                    var alreadyval = $("#Qanswer" + qid).val();
                    alreadyval = alreadyval.replace(clincicalnote, "");
                    $("#Qanswer" + qid).val(alreadyval);
                }
            }
        }
        
    }
</script>

