
@{
    ViewBag.Title = "SaleStaffPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.dataTables.min.css">
@*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />*@

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<style>
    td.highlight {
        font-weight: bold;
        color: blue;
    }
    .dt-buttons{
        display:none;
    }
    table.fixedHeader-floating {
        top: 60px !important;
    }

    .dataTables_wrapper .dataTables_processing {
        top: 0 !important;
    }

    #example td {
        white-space: pre;
    }
    .pull-left{
        width:100%;
    }
    html, body{
        margin-left:0px;
    }
    .body-content {
        margin-top: 60px;
    }
</style>
<div class="col-md-12 no-padding searchbox pull-left">






    @if (1 == 1)
    {
        if (User.IsInRole("Sales"))
        {


            <div class="col-md-12">
                <label>
                    Physician Groups
                </label>

                @Html.DropDownList("physiciansGroup",
                                       new SelectList(ViewBag.physiciansGroups, "Value", "Text", Model),
                                       "Physicians Groups", new { @class = "form-control border-input select2", id = "ddlPhysiciansGroups1" })


            </div>
            <div class="col-md-12">
                <label>
                    Physicians
                </label>


                @Html.DropDownList("physician",
                          new SelectList(ViewBag.Physicians, "Value", "Text", Model),
                          "Physicians", new { @class = "form-control border-input select2", id = "ddlPhysicians1" })

            </div>

        }



    }




</div>

<div class="col-md-12 pull-left nopadding">
    <div class="tablefixwidth">
        <table id="example" class="table table-striped nowrap" style="width:100%">
            <thead>
                <tr>

                    <th class="noExport">Update</th>
                    <th>ID</th>
                    <th>Patient Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>
                        Physician
                    </th>
                  
                </tr>
            </thead>


        </table>
    </div>
</div>
<script type="text/javascript">
    function getdetailsforpatients(patientid) {

    }
    $(document).ready(function () {
        $("#ddlPhysicians1").change(function () {

            table.ajax.reload();
        });
        $("#ddlPhysiciansGroups1").change(function () {

            table.ajax.reload();
        });

        var UserRolestr = '@ViewBag.Owner';
        var status ="@ViewBag.StatusStr";
            var User ="@ViewBag.UserId";
            var UserRolestr = "@ViewBag.UserRole";
            var DateStr = "@ViewBag.DateStr";
        var statusstr = "@ViewBag.SubStatus";
        if (UserRolestr == "Liaison") {
            $("#ddlLiaisons1").val('@ViewBag.CCMID');
        }
        else {
            if (UserRolestr == "PhysiciansGroup") {
                $("#ddlPhysiciansGroups1").val('@ViewBag.CCMID');
            }
            else {
                if (UserRolestr == "Physician") {
                    $("#ddlPhysicians1").val('@ViewBag.CCMID');
                }

            }
        }
        var urltobesend = "/Patient/LoadDrugData?status=" + status + "&userId=" + User + "&date1=" + DateStr + "&substatus=" + statusstr;

            if (DateStr == "") {
                urltobesend = "/Patient/LoadDrugData?status=" + status + "&userId=" + User + "&substatus=" + statusstr;
            }
        $.fn.dataTable.ext.errMode = 'throw';
         table = $("#example").on('page.dt', function () {
            $('#example-select-all').prop("checked", false);


        }).DataTable({
            fixedHeader: {
                header: true,
                footer: false
            },

            "processing": true, // for show progress bar
                 "language": {
            processing: '<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="256px" height="32px" viewBox="0 0 128 16" xml:space="preserve"><path fill="#96a6d8" fill-opacity="0.42" d="M6.4,4.8A3.2,3.2,0,1,1,3.2,8,3.2,3.2,0,0,1,6.4,4.8Zm12.8,0A3.2,3.2,0,1,1,16,8,3.2,3.2,0,0,1,19.2,4.8ZM32,4.8A3.2,3.2,0,1,1,28.8,8,3.2,3.2,0,0,1,32,4.8Zm12.8,0A3.2,3.2,0,1,1,41.6,8,3.2,3.2,0,0,1,44.8,4.8Zm12.8,0A3.2,3.2,0,1,1,54.4,8,3.2,3.2,0,0,1,57.6,4.8Zm12.8,0A3.2,3.2,0,1,1,67.2,8,3.2,3.2,0,0,1,70.4,4.8Zm12.8,0A3.2,3.2,0,1,1,80,8,3.2,3.2,0,0,1,83.2,4.8ZM96,4.8A3.2,3.2,0,1,1,92.8,8,3.2,3.2,0,0,1,96,4.8Zm12.8,0A3.2,3.2,0,1,1,105.6,8,3.2,3.2,0,0,1,108.8,4.8Zm12.8,0A3.2,3.2,0,1,1,118.4,8,3.2,3.2,0,0,1,121.6,4.8Z"/><g transform="translate(36 0)"><path fill="#052aa3" fill-opacity="1" d="M-42.7,3.84A4.16,4.16,0,0,1-38.54,8a4.16,4.16,0,0,1-4.16,4.16A4.16,4.16,0,0,1-46.86,8,4.16,4.16,0,0,1-42.7,3.84Zm12.8-.64A4.8,4.8,0,0,1-25.1,8a4.8,4.8,0,0,1-4.8,4.8A4.8,4.8,0,0,1-34.7,8,4.8,4.8,0,0,1-29.9,3.2Zm12.8-.64A5.44,5.44,0,0,1-11.66,8a5.44,5.44,0,0,1-5.44,5.44A5.44,5.44,0,0,1-22.54,8,5.44,5.44,0,0,1-17.1,2.56Z"/><animateTransform attributeName="transform" type="translate" values="23 0;36 0;49 0;62 0;74.5 0;87.5 0;100 0;113 0;125.5 0;138.5 0;151.5 0;164.5 0;178 0" calcMode="discrete" dur="1560ms" repeatCount="indefinite"/></g></svg> '},
 
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "stateSave": false,
            "pageLength": 10,

            bDeferRender: true,
            colReorder: true,
            "ajax": {
                "url": "/Patient/LoadDrugDataSales",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    d.substatus = statusstr,
                    d.date1 = DateStr,
                    d.status = status,
                        d.userId = User,
                        d.LiaisonId = $("#ddlLiaisons1").val(),
                        d.PhysicianID = $("#ddlPhysicians1").val(),

                        d.PhysicianGroupID = $("#ddlPhysiciansGroups1").val()

                },
            },

            'order': [2, 'desc'],
            //"dom": 'Blfrtip',
            "dom": '<"top"i>rt<"bottom"Blfrtip><"clear">',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [{
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ["thead th:not(.noExport)", ':visible']
                }
            },
                , {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
                exportOptions: {
                    columns: ["thead th:not(.noExport)", ':visible']
                }
            }, 'colvis'],
            "columns": [

               
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="btn btn-success btn-sm" onclick="getdetailsforpatients(' + full.Id + ')">Update</a>';
                    }

                },
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "FirstName", "name": "FirstName", "autoWidth": true },

                { "data": "Gender", "name": "Gender", "autoWidth": true },
                { "data": "BirthDate", "name": "BirthDate", "autoWidth": true },
                { "data": "DocFirstName", "name": "DocFirstName", "autoWidth": true },

              




            ]

        });
    });
</script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.1/js/dataTables.colReorder.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>